.formularioMenu{
    display: flex;
    flex-direction: column;
    align-items: center;

    .seccionMenu{
        font-size: 50px;
        margin-top: 50px;
        color: #502314;
        display: flex;
        margin-right: 60%;
    }

    span{
        margin-bottom: 50px;
    }

    .carta{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 150px;
        margin: 50px 0px 60px 0px;

        @mixin flex($display, $align, $direction, $gap){
            display: $display;
            align-items: $align;
            flex-direction: $direction;
            gap: $gap;
        }

        .carta__tarjeta{
            width: 250px;
            height: 250px;
            @include flex(flex, center, column, 20px);
            
            .carta__titulo {
                text-align: center; 
                font-size: 23px;  
                color: #502314;
                font-family: $mainFont;
                }

            .carta__imagen {
                height: 220px;
                border-radius: 8px;
                align-items: center;
                transition: .4s ease all;
        
            &:hover{
                transform: scale(1.05);
                }
            }
        }
    }
}









