.form{
    font-family: Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.829);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    box-shadow: 7px 13px 40px rgba(0, 0, 0, 0.842);

    .detalles{
        padding: 50px;
        font-size: 13px;
    }

    hr{
        background-color: white;
    }

    .ASpan{
        color: rgb(245, 86, 86);
        }

       .form__titulo{
        font-size: 25px;
        margin: 15px 0 40px 10%;
        }

    form{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 3%;

            .formItem{
                width: 100%;
                padding-bottom: 10%;
            
                h3{
                    font-size: 20px;
                    padding-bottom: 20px;
                    margin-left: 40px;
                }
                
                .input__item{
                    width: 90%;
                    padding:1%;
                    margin-left: 8%;
                    background-color: rgba(0, 0, 0, 0.623);
                    color: white;
                    border: 1px solid white;
                    font-size: 15px;
                }
            
                .divRadio{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    span{
                        display: flex;
                        font-size: 19px;
                        width: 300px;
                        height: 35px;
                        align-items: center;
                        margin-left: 50px;

                    .radio{
                        margin-right: 5px;
                        }
                    }
                }

                textarea{
                    width: 90%;
                    height: 100px;
                    padding:1%;
                    margin-left: 8%;
                    background-color: rgba(0, 0, 0, 0.623);
                    color: white;
                    border: 1px solid white;
                    resize: none;
                    }

                }

            .consulta{
                padding-top: 60px;
                padding-bottom: 0;
            }
        
            
            button{
                    border: 1px solid white;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 16px;
                    }
                }
            }          
    
