.seccionPreg{
    font-family: $mainFont;
    display: flex;  
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .seccionPreg__div{
        background-color: rgb(39, 38, 38, 0.814);
        width: 450px;
        height: 200px;
        margin: 70px 100px 20px 100px;
        padding: 20px;
        border-radius: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "pregTitulo respuesta"
                             "pregTitulo respuesta";
        box-shadow: 7px 13px 40px #000;

    &:hover{
        box-shadow: none;
        transform: scale(1.03);
        }

        .seccionPreg__div__titulo{
            height: 25px;
            width: 182px;
            border-radius: 10px;
            font-size: 13px;
            font-weight: bold;
            padding: 5px;
            color: black;
            grid-area: pregTitulo;
            display: flex;
            flex-flow: row;
            }

        .seccionPreg__div__p{
            height: 122px;
            width: 200px;
            border-radius: 10px;
            text-align:justify;
            font-size: 11px;
            padding: 5px;
            margin-top: 40px;
            grid-area: respuesta;
            display: flex;
            flex-flow: row;
            }
        }
    }

$faq: (
    titulo: rgb(172, 136, 70),
    p: rgb(238, 200, 131)
);
  
@each $globo, $color in $faq {
    .seccionPreg__div__#{$globo} {
        background-color: $color;
    }
}

