.hFooter{
    width: 100%;
    background-color: rgb(80, 35, 20);
    font-family: $mainFont;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "hFTitulo hFItems"
                            "hr hr";
    height: 248px;
    margin-top: 80px;

    hr {
        height: 1px;
        width: 70%;
        margin-left: 15%;
        background-color: $secondaryColor;
        border: none;
        grid-area: hr;
    }

    .hFTitulo{
        margin-left: 30%;
        grid-area: hFTitulo;
        padding-top: 50px;
        width: 350px;

        div{
            display: flex;

            h4{
                font-size: 40px;
                color: $secondaryColor;
                font-weight: bolder;
                }

            span{
                font-size: 10px;
                color: $secondaryColor;
            }
        }
    }

    .hFItems{
        width: auto;
        margin-left: 62%;
        padding-top: 50px;
        align-items: center;
        grid-area: hFItems;


        h4{
            color: $secondaryColor;
            margin-bottom: 20px;
            font-weight: bold;
        }
        
        div{
            display: flex;
            flex-direction: column;
            gap: 5px;
                
                a{
                text-decoration: none;
                color: $secondaryColor;
                }
                
            }
        }
    }

.mFooter{
    width: 100%;
    background-color: rgb(80, 35, 20);
    color: $secondaryColor;
    font-family: $mainFont;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "footerTitulo redes";
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 15px;

        .footerTitulo{
            grid-area: footerTitulo;
            margin-left: 30%;
            width: auto;
            display: flex;
            align-items: center;

            h3{
                font-size: 20px;
                margin-top: 8px;
                }
                }

        .redes{
            display: flex;
            width: auto;
            margin-left: 52%;

            ul{
                align-items: center;
                justify-content: center;
                margin-top: 12px;

                li{
                    display: inline-block;
                    text-align: center;
                    grid-area: redes;
                    justify-content: center;

                    a{
                        @extend %redes;

                    &:hover{
                        transform: translateY(-3px) scale(1.05);
                        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
                        filter: none;
                        color: $secondaryColor;
                        }

                        i{
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            width: 35px;
                            height: 35px;
                        }
                    }

                    .whatsapp:hover{
                        background: rgb(7 94 84);
                        }

                    .instagram:hover{
                        background: rgb(225 48 108);
                        }

                    .facebook:hover{
                        background: rgb(66 103 178);
                        }    
                    }
                }
            }
        }
    