.inicio{
    margin: 80px;

    .card{
        background-color: $mainDarkColor;
        margin: 12px;
        color: $mainColor;

        img{
            height: 55%;
            }
        }

    .card-body{

        .btn{
        width: 120px;
        background-color: $mainColor;
        color: rgb(122, 75, 44);
        margin-top: 20px;

        &:hover{
            background-color: rgb(122, 75, 44);
            color: $mainColor;
        }
        }
    }
}