@media screen and (max-width:1250px) { 

    .encabezado{

        .divLogo{
            margin-right: 20%;
            }

        }

    .inicio{
        margin: 30px;
    }

    .formularioMenu{

        .carta{
            grid-template-columns: repeat(2,1fr);
            column-gap: 200px;
            
            }
        }
    
    .tarjetaNosotros img{
        width: 400px;
    }

    .mFooter{

        .redes{
            margin-left: 40%;
        }
    }

    .hFooter{

        .hFItems{
            margin-left: 55%;
        }

    }

}