@media screen and (max-width:1450px) { 

    .tarjetaNosotros{
        margin: 50px 1.8% 100px 1.8%;
    
        p{
            font-size: 17px;
            }
        }

    .itemsNosotros{
        gap: 10px;
    }

    .hFooter{
        
        .hFItems{
            margin-left: 58%;
        }
    }

    .mFooter{

        .redes{
            margin-left: 45%;
        }
    }

}