@media screen and (max-width:680px) {

    .encabezado{

        .navbar-nav ul{
            margin-right: 75%;
            }
    }   

    .menu-fixed{
    
        .navbar-menu{
    
            ul{
    
                li{
    
                    a{
                        padding-bottom: 5px;
    
                    &:hover{
                        border-bottom: 1px solid $secondaryColor;
                    }
                }
            }
        }
    }  
    }

    .tarjetaNosotros{
        margin: 50px 5% 30px 5%;
        }
    
    .itemsNosotros{
        flex-direction: column;
        align-items: center;

        .card{
            width: 90%;
            
            .card-body{
                gap: 10px;
    
                .card-title{
                    font-size: 25px;
                }

                .card-text{
                    font-size: 15px;
                }

                button{
                    width: 90px;
                    height: 40px;
                    font-size: 14px;
                }
            }
        }
    }

    .hFooter{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "hFTitulo" "hFItems" "hr";

        .hFTitulo{
            margin-left: 8%;
        }

        .hFItems{
            margin-left: 8%;
        }
    }

    .mFooter{
        padding-top: 125px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:"redes"
                            "footerTitulo";
        font-size: 13px;

        .footerTitulo{
            margin-left: 20%;
            text-align: center;
            width: 60%;
            }

        .redes{
            margin: 0;
            margin-right: 7%;
            text-align: center;
            justify-content: center;
            }
        }
    }