@media screen and (max-width:1250px) { 

    .divLogo{
        margin-right: 20%;
    }

    .inicio{
        margin: 30px;
    }

    .carta{
        grid-template-columns: repeat(2,1fr);
        column-gap: 200px;
    }
    
    .tarjetaNosotros img{
        width: 400px;
    }

    .mFooter{
        grid-template-columns: 4fr 1fr;
    }

    .footerTitulo{
        margin-left: 50px;
        width: 80%;
    }

    .redes{
        margin-left: 20px;
    }

}
